*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.Header {
    list-style-type: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.Header-links {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

a.Header-obj {
    text-decoration: none;
}

a.Header-obj:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.main-ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.main-obj {
    font-size: 16px;
}

.main-obj.main-logo {
    margin: 0;
}

.search-box {
    text-align: center;
    align-items: center;
    margin: 2% auto;
    height: auto;
    width: 750px;
    border: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search-input {
    background: transparent;
    border: 0;
    flex: 1;
    outline: none;
    padding: 24px 20px;
    font-size: 18px;
}

.search-button {
    padding: 3px;
    font-size: 16px;
    border-radius: 60px;
    width: 75px;
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
    color: rgb(243, 243, 243);
    height: 30px;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background-color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.signin-body, .createacc-body, .post-body, .signout-body, .profile-body {
    background-color: rgb(243, 243, 243);
}

.signin-box, .createacc-box, .post-box, .signout-box {
    align-items: center;
    width: 500px;
    height: 500px;
    outline: 1px solid rgb(122, 122, 122);
    border-radius: 20px;
    margin: 2% auto;
    background-color: white;
}

.post-box {
    height: 525px;
}

.signin-ul, .createacc-ul, .post-ul {
    list-style-type: none;
    padding: 20px;
}

.signin-li, .createacc-li, .post-li {
    margin: 2%;
    font-size: 18px;
}

.signin-logo {
    display: flex;
    justify-content: center;
}

.createacc-logo {
    display: flex;
    justify-content: center;
}

.post-logo {
    display: flex;
    justify-content: center;
}

.signin-ul input, .createacc-li input, .post-ul input {
    width: 435px;
    height: 25px;
    font-size: 18px;
}

.signin-button-div, .createacc-button-div, .post-button-div {
    display: flex;
    justify-content: center;
    margin: 7.5% 2% 7.5% 2%;
}

.signin-button, .createacc-button, .post-button, .signout-button {
    font-size: 18px;
    width: 443px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 0;
}

.signin-or {
    margin: 5%;
    text-align: center;
    font-size: 18px;
}

.signin-li.signin-createacclink {
    text-align: center;
}

.post-pay-label {
    font-size: 16px;
}

.signin-li.signin-createacclink {
    margin: 5%;
}

.signin-box {
    height: 450px;
}

.signout-box {
    font-size: 18px;
    text-align: center;
    padding: 1%;
    height: auto;
}

.signout-button {
    margin: 2%;
}

.create-error-message {
    text-align: center;
    color: red;
    font-size: 16px;
    margin: 2%;
}

.search-select {
    height: 30px;
    font-size: 16px;
    border-radius: 60px;
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
    color: rgb(243, 243, 243);
    padding: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.search-label {
    font-size: 18px;
    margin-right: 5px;
}

.display {
    display: grid;
    align-items: center;
    border: 1px solid black;
    height: 150px;
    width: 750px;
    max-width: 750px;
    border-radius: 10px;
    margin: 2% auto;
    padding: 10px;
}

.display-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.display-description {
    border: 1px solid black;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.display-info {
    padding: 5px;
    border-radius: 10px;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.display-location {
    width: 250px;
    max-width: 250px;
}

.display-type {
    width: 170px;
    max-width: 170px;
}

.display-pay {
    width: 140px;
    max-width: 140px;
}