*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

ul.Header {
    list-style-type: none;
    text-align: center;
}

li.Header-links {
    display: inline;
    margin: 5%;
    font-size: 18px;
}

a.Header-obj {
    text-decoration: none;
}

a.Header-obj:hover {
    text-decoration: underline;
}

div.search-box {
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: 750px;
    margin-top: 2%;
    outline: 2px solid rgb(155, 155, 155);
    border-radius: 10px;
    padding: 10px;
}

input.search-input {
    width: 500px;
    height: 25px;
    border-radius: 10px;
    border-color: rgb(155, 155, 155);
}

button.search-button {
    height: 25px;
}