.change-password-div {
    display: flex;
    justify-content: center;
}

.change-password-box {
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    margin: 2%;
    padding: 20px;
    height: auto;
    width: 500px;
}

.change-password-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.labels-inputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.changePWInputs {
    width: 435px;
    height: 25px;
    font-size: 18px;
}

.newPasswordLabel {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18px;
}

.changePasswordButton {
    font-size: 18px;
    width: 443px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    margin-top: 2%;
}


